@font-face {
    font-family: 'BetterSans';
    src: url('fonts/BetterSansRegular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BetterSans', sans-serif;
    
}
body{

    background-color: #e6f4ff;
   


}


.containter{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    gap: 25px;
    margin-inline-start: 50%;


}

.navbar-brand{
    font-style: normal;
    background-color: rgba(255, 255, 255, 0);
    color: #ebf8ffe6;
  
}

.navbar{ display: flex;
    justify-content: space-between; /* Esto separa los elementos */
    align-items: center;
    padding: 15px 30px;
    list-style: none;
    font-size: 25px;
font-size: 25px;background: #30c4e6;
background: linear-gradient(75deg,rgba(48, 196, 230, 1) 0%, rgba(56, 116, 148, 1) 42%, rgba(52, 116, 156, 1) 100%);
border-style: solid;
border-color: rgba(255, 255, 255, 0.096);
}

.seleccion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* O nowrap si querés en una sola línea */
    gap: 20px;
    text-align: center;
    margin-top: 30px;
    
}

#contenedorAdmin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* O nowrap si querés en una sola línea */
    gap: 20px;
    text-align: center;
    margin-top: 30px;
    
}

.card {
    width: 300px;
    background-color: #e6f4ff;
    /* border-radius: 10px; */
    padding: 10px;
    box-shadow: 5px 5px 20px 0  rgb(104 200 255 / 15%);
    border-style: solid;
    border-color: #c8f2ff47;
}

.card-title{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
font-size: 20px;
color: rgb(18, 42, 92);
}

.card-text{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
font-size: 15px;
color: rgb(17, 34, 54);
}

.card-img-top{
border-radius: 1px;
height: 100px;
border-style: solid;
border-color: rgb(238, 250, 255);

}

.btn{
    margin: 10px;
    background-color: #1f256d;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;

}

.btn:hover {
    background-color: #90f6ff; /* efecto hover */
    transform: scale(1.05);
  }